{% load rest_framework %}

<html>
    <head>
        <title>
            Evolution
        </title>
    </head>
    <body style="margin-top: 30px;margin-left: 30px;">
        <h1>Jobs Upload</h1>



        <form class="form-vertical" action="{% url 'csvupload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                      <label>File</label>
                      <input name="csv_file"
                             required="required"
                             style="border: 1px solid black; padding: 5px;"
                             title="Upload csv file"
                             type="file">
                        <p>
                        <button type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <l {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></l>
        {% endfor %}
    </ul>
    {% endif %}
        </form>

        <p></p>
        <hr>
    </body>
</html>

<!--        <div class="col-sm-offset-2 col-sm-10">-->
<!--            <button type="submit" class="btn btn-default">Sign in</button>-->
<!--        -->
